<footer class="bg-dark text-white py-3  header">
  <div class="container">
    <div class="row text-center">

      <div class="col-12 col-md-6 mb-2 mb-md-0">
        <a routerLink="/" class="text-white text-decoration-none mx-3">
          <i class="bi bi-house-door"></i> Home
        </a>
      </div>

      <div class="col-12 col-md-6">
        <a routerLink="login" class="text-white text-decoration-none mx-3">
          <i class="bi bi-box-arrow-in-right"></i> Login
        </a>
      </div>

    </div>
  </div>
</footer>
<router-outlet></router-outlet>